<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>{{headline}}</h1>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>

    <p>

        <a class="btn btn-lg btn-primary" href="#/about" role="button">About &raquo;</a>
        <a class="btn btn-lg btn-primary" href="#/" role="button">Home &raquo;</a>
    </p>
</div>