{{person.firstname}}
<table class="table default-table">
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>

    </tr>
    <tr ng-repeat="p in persons" >
        <td>{{p.id}}</td>
        <td>{{p.firstname}}</td>
        <td>{{p.lastname}}</td>

    </tr>
</table>

